*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

body{
    background-image: url(https://wallpaperaccess.com/full/1155007.jpg);

}

.corpo{
    background-color: rgba(239,239,239,0.8);
    margin: 15px 250px;
    padding: 20px;
    border-radius: 10px;
}

.icon{
    width: 150px;
    margin-right: 15px;
    vertical-align: middle;
}

.gmail{
    font-size: 30px;
    color: #696E73;
    font-weight: lighter;
}

.search-section{
    border-top: 2px solid grey;
    padding-top: 20px;
    margin-top: 20px;
}

.search-style{
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}

.button-style{
    background-color: #287AE6;
    border-color: #287AE6;
    border-radius: 5px;
    padding: 10px 30px;
    margin-left: 10px;
    margin-bottom: 15px;
    color: #FFFFFF;
}

.notifica{
    display: inline-block;
    margin-bottom: 20px;
}

.sfondo{
    background-color: #E75A4D;
    padding: 15px;
    border-radius: 50%;
    text-align: center;
    color: #FFFFFF;
    margin-left: 5px;
    font-size: 25px;
}
header{
    border-bottom: 2px solid grey;
}
main{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid grey;
}

.email-row{
    padding: 7px;
    border: 1px solid grey;
    border-radius: 7px;
    background: #FFFFFF;
}

.star:after {
  content: "\02605";
}

.email-text {
    font-weight: lighter;
}
.email-text:before {
  content: " - ";
}
.email-text:after {
  content: "...";
}

footer{
    margin-top: 10px;
    text-align: center;
}
